##    ## ######## ##     ## ########     ######  ######## ######## ########   ######
###   ## ##        ##   ##     ##       ##    ##    ##    ##       ##     ## ##    ##
####  ## ##         ## ##      ##       ##          ##    ##       ##     ## ##
## ## ## ######      ###       ##        ######     ##    ######   ########   ######
##  #### ##         ## ##      ##             ##    ##    ##       ##              ##
##   ### ##        ##   ##     ##       ##    ##    ##    ##       ##        ##    ##
##    ## ######## ##     ##    ##        ######     ##    ######## ##         ######

Your project is now configured to use SliceMachine!
Follow these next steps to get going:

- Add the SliceZone, anywhere in your code
{{{ sliceZoneReadmeUrl }}}

- Access your Prismic writing room here
{{{ writingRoomUrl }}}

- To add your own slice, run this command
$> {{{ createSliceCommand }}}

If you're not sure where you should start,
give SliceMachine documentation a try:

- Quick Start 👉 {{{ quickStartDocsUrl }}}
- Adding slices 👉 {{{ addSlicesDocsUrl }}}

Blocked? We also have a community forum!
Feel free to ask questions here {{{ communityForumUrl }}}
