---- ALL DONE ----

Here is a quick recap of actions done:

{{#isBootstrapped}}
  - we created a new {{ frameworkName }} project (at {{ projectUrl }})
{{/isBootstrapped}}
{{#newPrismicRepo}}
  - created a new Prismic repository (at {{ newPrismicRepo }})
{{/newPrismicRepo}}

File structure:
- added a {{ prismicConfigSrc }} file, with your {{#isBootstrapped}}new {{/isBootstrapped}}Prismic endpoint

- added a `{{ sliceMachineFolder }}` folder at the root of your project:
it contains [x] slices and a SliceZone (more info: https://prismic.io)

- To launch the project, run: `cd {{ projectName }} && {{ firstCommand }}`

{{#additionalDisplay}}
{{ additionalDisplay }}
{{/additionalDisplay}}
